body {
  padding-top: 120px; 
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .card {
  padding: 2em;
} */

/* .header{
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%; 
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
  z-index: 1000;
 
} */

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

thead {
  font-size: 35px;
}

tr {
  margin: 5px;
}

td{
  margin: 5px;
  padding: 2px;
}

.card {
  
  background-color: aliceblue;
  border: solid 0.5px;
  min-width: 23rem;
  min-height: 12rem;
}